<div class="blog-post">
    <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
    <p class="blog-post-meta">
    	<%= distance_of_time_in_words(blog.created_at, Time.now) %> ago by <a href="#">Kevin Mark Montesclaros</a> <br>

    	 <%= render partial: 'blogs/admin_actions', locals: {blog: blog} %>
    </p>

    <p><%= blog.body %></p>
</div><!-- /.blog-post -->