<div class="col-md-8 blog-main">
  <div class="d-flex justify-content-between mb-2">
    <h3 class="font-italic">
      <%= @blog.title %>
    </h3>
    <% if logged_in?(:site_admin) %>
      <span class="pull-right">
        <%= link_to fa_icon('pencil-square'), edit_blog_path(@blog) %>
        <%= link_to fa_icon('trash'), @blog, method: :delete, data: {confirm: 'Are you sure want to delete'} %>
      </span>
    <% end %>
  </div>



  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", root_path%>
      </li>
      <li class="breadcrumb-item">
        <%= link_to @blog.topic.title, topic_path(@blog.topic) %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= @blog.title %> 
      </li>
    </ol>
  </nav>

  <p>
	  <%= markdown @blog.body %>
  </p>

	<%= render 'comments/comment_form' %>

	<div id="comments" data-blog-id="<%= @blog.id %>">
	<%= render @blog.comments %>
	</div>
</div>



