<% unless current_user.is_a? GuestUser %>
	<%= form_for @comment, url: '#' do |f| %>
		<div class="form-group">
			<%= f.label "write a comment" %>
			<%= f.text_area :content, class: 'form-control' %>
		</div>

		<%= f.submit 'Post Comment', class: 'btn btn-primary' %>
	<% end %>	
<% end %>