<div class="col-md-4 sort-card">
  <div class="card mb-4 shadow-sm" data-id="<%= portfolio_item.id %>">
	<%= image_tag portfolio_img(portfolio_item.thumb_image.url, 'thumb'), class: "bd-placeholder-img card-img-top", width: '100%' %>

    <div class="card-body">
      <p class="card-text">
      	<span><%= portfolio_item.title%></span>
      </p>
      <p class="card-text">
      	<%= portfolio_item.subtitle %>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">

        	<%= link_to 'View', portfolio_show_path(portfolio_item), class: "btn btn-sm btn-outline-primary" %>
          <% if logged_in?(:site_admin) %>
<!--   	          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
	<%= link_to "Edit", edit_portfolio_path(portfolio_item), class: "btn btn-sm btn-outline-secondary" %>
	<%= link_to 'Delete', portfolio_path(portfolio_item), method: :delete, data: { confirm: 'Are you sure' }, class: "btn btn-sm btn-outline-danger"%>
          <% end %>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>	