<div class="album py-5 bg-light">
	<div class="container">
	  <%= source_helper("alert alert-warning") %>
	  <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
		<%= render partial: 'portfolio_item', collection: @portfolio_items %>
	  </div>
  	</div>
</div>


