<div class="container portfolio-container">
	<div class="row">
		<div class="col-md-7">
			<%= image_tag portfolio_img(@portfolio_item.main_image.url, 'main'), width: '100%' %>
		</div>
		<div class="col-md-5">
			<h1><%= @portfolio_item.title %></h1>

			<em><%= @portfolio_item.subtitle %></em>

			<p><%= @portfolio_item.body %></p>

			<hr>
			<h3>Technologies Used:</h3>

			<% @portfolio_item.technologies.each do |t| %>
				<p><%= t.name %></p>
			<% end %>

			<% if logged_in?(:site_admin) %>
				<div>
					<%= link_to "Edit Portfolio", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning' %>		
				</div>
			<% end %>
		</div>
	</div>
</div>