<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Kevin Mark Montesclaros</h3>
    <nav class="nav nav-masthead justify-content-center app-nav">
      <%= nav_helper "nav-link", 'span' %>
      <%= login_helper "nav-link" %>
    </nav>
  </div>
</header>