<aside class="col-md-4 blog-sidebar">
  <div class="p-4 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Saw you downtown singing the Blues. Watch you circle the drain. Why don't you let me stop by? Heavy is the head that <em>wears the crown</em>. Yes, we make angels cry, raining down on earth from up above.</p>
  </div>


  <%= source_helper("alert alert-info p-4 mt-4") %>

<!--   <div class="p-4">
    <h4 class="font-italic">Archives</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">March 2014</a></li>
      <li><a href="#">February 2014</a></li>
      <li><a href="#">January 2014</a></li>
      <li><a href="#">December 2013</a></li>
      <li><a href="#">November 2013</a></li>
      <li><a href="#">October 2013</a></li>
      <li><a href="#">September 2013</a></li>
      <li><a href="#">August 2013</a></li>
      <li><a href="#">July 2013</a></li>
      <li><a href="#">June 2013</a></li>
      <li><a href="#">May 2013</a></li>
      <li><a href="#">April 2013</a></li>
    </ol>
  </div> -->

  <div class="p-4">
    <h4 class="font-italic">Topics</h4>
    <ol class="list-unstyled">
      <% @side_bar_topics.each do |topic| %>
        <p><%= link_to topic.title, topic_path(topic) %></p>
      <% end %>
    </ol>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/electricfeel1979" target="_blank"><%= fa_icon "github" %> Github</a></li>
      <li><a href="https://www.linkedin.com/in/kevinmarkmontesclaros/" target="_blank"><%= fa_icon "linkedin" %> LinkedIn</a></li>
      <li><a href="https://www.facebook.com/ywonttheytalktome/" target="_blank"><%= fa_icon "facebook" %> Facebook</a></li>
      <li><a href="https://twitter.com/KevinMark1251" target="_blank"><%= fa_icon "twitter" %> Twitter</a></li>
      <li><a href="https://www.instagram.com/ywonttheytalktome/" target="_blank"><%= fa_icon "instagram" %> Instagram</a></li>
      <li><a href="https://soundcloud.com/kevimm" target="_blank"><%= fa_icon "soundcloud" %> SoundCloud</a></li>
      <li><a href="https://open.spotify.com/user/12184019549?si=j6eKpKZCSAKhQs1D_uf9Hg" target="_blank"><%= fa_icon "spotify" %> Spotify</a></li>
    </ol>
  </div>
</aside><!-- /.blog-sidebar -->