  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <!-- <h1 class="display-4 font-italic">Title of a longer featured blog post</h1> -->
      <h2 class=" font-italic">Alright lets read some crap 😂</h2>
      <p class="lead my-3">No real content for now</p>
      <!-- <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
      <p>
      	<%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>  	
      </p>
<!--       <p>
      	<%= link_to "Topics", topics_path %>
      </p> -->
    </div>
  </div>