<header class="blog-header bg-light">
  <nav class="navbar navbar-expand-lg navbar-light mb-5 container">
    <%= link_to "Kevin Mark Montesclaros", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= nav_helper "nav-item nav-link", 'a' %>
        <%= login_helper 'nav-item nav-link' %>
      </div>
    </div>
  </nav>
</header>