<section class="jumbotron text-center">
  <div class="container">
    <h1>My Portfolio</h1>
    <p class="lead text-muted">No real content for now...</p>
    <p>
      <%= link_to 'About Me', about_me_path, class: 'btn btn-primary my-2' %>
      <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary my-2' %></a>
    </p>
  </div>
</section>