<div class="app-card-container text-left">
	<h1>About Me</h1>
	<hr>

	<div class="row">
		<div class="col-md-4">
			<%= image_tag "profile.jpg", alt: "profile image", class: 'border border-secondary profile-pic' %>
<!-- 			<div class="skills">
				<% @skills.each do |skill| %>
	            <div class="skill">
	              <h6><%= skill.title %></h4>
	              <div class="progress">
	                <div
	                  class="progress-bar progress-bar-striped bg-warning"
	                  role="progressbar"
	                  aria-valuenow="<%= skill.percent_utilized %>"
	                  aria-valuemax="100"
	                  style="width: <%= skill.percent_utilized %>%"
	                ></div>
	              </div>
	            </div>
				<% end %>
			</div> -->
			  <div class="p-4">
			    <h4>Links</h4>
			    <ol class="list-unstyled social-links">
			      <li><a href="https://github.com/electricfeel1979" target="_blank"><%= fa_icon "github" %> Github</a></li>
			      <li><a href="https://www.linkedin.com/in/kevinmarkmontesclaros/" target="_blank"><%= fa_icon "linkedin" %> LinkedIn</a></li>
			      <li><a href="https://www.facebook.com/ywonttheytalktome/" target="_blank"><%= fa_icon "facebook" %> Facebook</a></li>
			      <li><a href="https://twitter.com/KevinMark1251" target="_blank"><%= fa_icon "twitter" %> Twitter</a></li>
			      <li><a href="https://www.instagram.com/ywonttheytalktome/" target="_blank"><%= fa_icon "instagram" %> Instagram</a></li>
			      <li><a href="https://soundcloud.com/kevimm" target="_blank"><%= fa_icon "soundcloud" %> SoundCloud</a></li>
			      <li><a href="https://open.spotify.com/user/12184019549?si=j6eKpKZCSAKhQs1D_uf9Hg" target="_blank"><%= fa_icon "spotify" %> Spotify</a></li>
			    </ol>
			  </div>
		</div>
		<div class="col-md-8">
			<p>
				Hello and good day. I am a full-time Freelance Web/Mobile App Developer and here's a quick summary of me as a developer:
			</p>

			<ul>
				<li>
					Started my career as a web developer in 2011, and started developing mobile apps in 2014. 
				</li>
				<li>
					Currently the lead Front-End Developer of the app KarPage, a social network like Instagram for car enthusiasts. I migrated this app from IONIC to React Native and released it in both App Store and Play Store.
				</li>
				<li>
					Equip with a degree in Bachelor Science in Information Technology. 
				</li>
				<li>
					Knowledgeable and with work experience with the following Software Technologies and Frameworks: 
					<ul>
						<li>React Native</li>
						<li>ReactJs</li>
						<li>Ruby On Rails</li>
						<li>Ionic & OnsenUI </li>
						<li>PHP with cakePhp</li>
						<li>React Native</li>
						<li>MySql, MongoDB, Postgres, PouchDB</li>
						<li>HTML, CSS3, Bootstrap, jQuery, & Javascript</li>
						<li>C#.net</li>
					</ul>
				</li>
				<li>
					Hardwares I use for development: 
					<ul>
						<li>main machine: Macbook Pro 2019 i9 32gb 1TB SSD </li>
						<li>iOS: iPhone 11 Pro, iPhone 7, iPhone 5s </li>
						<li>android: Google Pixel 2xl, Google Pixel 3xl, Samsung Note 8, Samsung j7</li>
						<li>PC (my backup machine) </li>
					</ul>
				</li>
			</ul>

			<p>
				I am very much ready to get started on tasks. Have the designs? Let me develop it from the ground, get it pixel perfect and running. Have an existing app/website and wanna add new features or fix bugs on your app/site? Let me take over and manage. I have the knowledge and the tools to get it done using the best practices. 
			</p>

			<p>
				Open to opportunities for growth, a fast learner, to give full respect to clients and projects. Happy clients are my goals and to strive for the best. 
			</p>	


<!-- 			<p>
				<button
					class="btn btn-primary"
					type="button"
					data-toggle="collapse"
					data-target="#jobHistory"
					aria-expanded="false"
					aria-controller="jobHistory"
				>
					Job History
				</button>
				<button
					class="btn btn-secondary"
					type="button"
					data-toggle="collapse"
					data-target="#education"
					aria-expanded="false"
					aria-controller="education"
				>
					Education
				</button>
			</p>
			<p>
				<div class="collapse collapse-con" id="jobHistory">
					<h5>Job History</h5>
					<div class="card card-body">
						Jobbbsss
					</div>
					<div class="card card-body">
						Jobbbsss
					</div>
				</div>
				<div class="collapse collapse-con" id="education">
					<h5>Education</h5>
					<div class="card card-body">
						School1 
					</div>
					<div class="card card-body">
						School2
					</div>
				</div>
			</p> -->	
		</div>
	</div>
</div>



