<div class="app-card-container text-left">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>Somewhere down the road.</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "+639205140612" %></p>

        <h3>Email</h3>

        <p><a href="mailto:mrpotatohead1251@gmail.com?subject=PortfolioContact">mrpotatohead1251@gmail.com</a> </p>

        <div>
          <h4>Links</h4>
          <ol class="list-unstyled social-links">
            <li><a href="https://github.com/electricfeel1979" target="_blank"><%= fa_icon "github" %> Github</a></li>
            <li><a href="https://www.linkedin.com/in/kevinmarkmontesclaros/" target="_blank"><%= fa_icon "linkedin" %> LinkedIn</a></li>
            <li><a href="https://www.facebook.com/ywonttheytalktome/" target="_blank"><%= fa_icon "facebook" %> Facebook</a></li>
            <li><a href="https://twitter.com/KevinMark1251" target="_blank"><%= fa_icon "twitter" %> Twitter</a></li>
            <li><a href="https://www.instagram.com/ywonttheytalktome/" target="_blank"><%= fa_icon "instagram" %> Instagram</a></li>
            <li><a href="https://soundcloud.com/kevimm" target="_blank"><%= fa_icon "soundcloud" %> SoundCloud</a></li>
            <li><a href="https://open.spotify.com/user/12184019549?si=j6eKpKZCSAKhQs1D_uf9Hg" target="_blank"><%= fa_icon "spotify" %> Spotify</a></li>
          </ol>
        </div>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14464.011438318417!2d-71.00875476621587!3d25.000018791143297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89451ab5034cb7ab%3A0xb600ecf3df7aca4d!2sBermuda%20Triangle!5e0!3m2!1sen!2sau!4v1614780050241!5m2!1sen!2sau" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
</div>