<div class="app-card-container">
  	<div class="inner cover">
	  <h1 class="cover-heading">Hello.</h1>
	  <p class="lead">
	  	Welcome to my blog and portfolio site 😄, built this site from scratch as a practice, and my first time developing with Ruby On Rails. It is not yet finish, gonna add more stuffs here in time and make it more awesome. I love indie music, a guitar addict and I am a full time Web/Mobile App developer.
	  </p>
	  <br>

	  <p class="lead">
	    <%= link_to "more stuffs about me", about_me_path, class: "btn btn-lg btn-secondary" %>
	  </p>
	  <br>
	  <div class="stuffs-todo-con">
	  	<h5>Stuffs to do</h5>
  		<div>• implement delete and edit comment on blog</div>
  		<div>• implement create topics</div>
  		<div>• integrate React for frontend (or Vue)</div>
  		<div>• implement email & sms notification</div>
	  </div>
	</div>
</div>

