@import 'bootstrap/dist/css/bootstrap';
@import 'gritter/css/jquery.gritter.css';
@import "font-awesome";

/*
 * Globals
 */

 @font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: font-url('Roboto-Regular.ttf');
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Montserrat', sans-serif;
}

 

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .2rem rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 68em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 3rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: cyan;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: white;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
 * Custom Styles
 */

 .card-body {
    text-align: left;
 }

 .register-text {
  text-align: right;
 }

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.auth .card {
  background-color: rgba(0, 0, 0, 0.8);
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}

#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-Index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  background: image-url('bg.jpg') no-repeat;
  background-size: cover;
}

.app-footer {
  color: white
}

.tech-news {
  margin: 20px;
}

.tech-news > .card{
  background-color: rgba(0, 0, 0, 0.7);
}

.tech-news a {
  color: cyan;
}

.tech-news > .card {
  padding: 20px;
}

.app-card-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 30px 20px 30px;
  border-radius: 20;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px 0px 20px 0px
}

.collapse-con {
  margin-top: 10px;
  margin-bottom: 10px;
}

.skill {
  margin-top: 10px;
  margin-bottom: 10px;
}

.collapse-con > .card-body {
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.profile-pic {
  width: 100%;
  height: 450px;
  object-fit: cover
}

a {
  color: cyan;
}

.stuffs-todo-con {
    text-align: center;
    font-size: 12px;
    margin-left: 0;
    margin-right: 0;
}