@import 'bootstrap/dist/css/bootstrap';
@import 'gritter/css/jquery.gritter.css';

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

 @font-face {
  font-family: 'Montserrat';
  src: font-url('Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: font-url('Roboto-Regular.ttf');
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Montserrat', sans-serif;
}

 
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Custom styles */

.portfolio-container {
  padding-top: 30px;
}

.sort-card img {
  object-fit: cover;
  height: 20em;
}

.nav-header-title {
  font-size: medium;
}