<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />
    <%= favicon_link_tag 'favicons/favicon2.ico' %>
    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/blog_nav' %>

    <div class="container">
      <%= render 'shared/blog_masthead' if @show_masterHead %>
    </div>
    <main role="main" class="container">
      <div class="row">
        <%= yield %>
        <%= render 'shared/blog_sidebar' %>
      </div><!-- /.row -->
    </main><!-- /.container -->
    <%= render 'shared/blog_footer' %>
    <%= alerts %>
  </body>
</html>
